@{
    ViewData ["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<main class="container-fluid p-4">
    <form method="post">
            <div class="text-center mb-4!">
                <h1>Logo</h1>
            </div>
    </form>
</main>